@{
    ViewData["Title"] = "SDN Media | Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SDN Media Server</h1>
    <p>Learn about <a href="#">exciting features</a> coming soon!</p>
</div>
