<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseServer" value="."/>
    <add key="DatabaseInstance" value="\SQLEXPRESS"/>
    <add key="DatabaseName" value="SDNMediaServer" />
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=SDNMediaServer;Integrated Security=True;Connect Timeout=30;Trusted_Connection=True;" />
    <add key="SortDirectoryPath" value="S:\" />
    <add key="TelevisionDrives" value="E:\TV Shows\;F:\TV Shows\;G:\TV Shows\;H:\TV Shows\;I:\TV Shows\" />
    <add key="MovieDrives" value="M:\Movies\" />
  </appSettings>
</configuration>